.btn {
    width: 15rem;
    height: 4rem;
    margin-top: 3rem;
    margin-left: 2rem;
}

.btn {
    margin-right: 2rem;
}

.active-side {
    border: 2px solid black;
}

.ep-label {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.ep-input {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    text-align: center;
    border: 2px solid black;
}