#fen {
    width: 59rem;
    height: 4rem;
    margin-top: 2rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    border: none;
    background-color: #e3e3e3;

    &:hover {
        background-color: #b5b1af;
    }
}