{% extends 'base.html' %}
{% block content %}
<div class="content">
    <h1>Silverfish</h1>
    <p>A next generation chess engine</p>
    <div class="board_div">
        <div id="board" style="width: 600px"></div>
    </div>
    <div class="controls">
        <div class="sub-div start-control">
            <button id="start" class="btn">Start Game</button>
        </div>
        <p class="info-text">Engine is thinking</p>
        <div class="sub-div side-control">
            <button id="white" class="btn btn-side btn-toggled">Play as White</button>
            <button id="black" class="btn btn-side">Play as Black</button>
        </div>
        <div class="sub-div game-control">
            <button id="reset" class="btn">Restart Game</button>
            <button id="undo" class="btn">Undo move</button>
        </div>
    </div>
</div>
{% endblock content %}