{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="position">
        <div class="side_div">
            <button id="w" class="btn fen-btn btn-side active-side">White</button>
            <button id="b" class="btn fen-btn btn-side">Black</button>
        </div>
        <div class="side_div">
            <button id="wk" class="btn fen-btn btn-castle">WKingside</button>
            <button id="bk" class="btn fen-btn btn-castle">BKingside</button>
        </div>
        <div class="side_div">
            <button id="wq" class="btn fen-btn btn-castle">WQueenside</button>
            <button id="bq" class="btn fen-btn btn-castle">BQueenside</button>
        </div>
        <div class="side_div side_inp">
            <label class="ep-label" for="enpassant">En passant</label><br>
            <input id="ep-input" class="ep-input" type="text" maxlength="2" name='enpassant'>
        </div>
    </div>
    <div class="board_div">
        <div id="board" style="width: 600px"></div>
        <input type="text" name="fen" id="fen">
    </div>
    <div class="btns">
        <button class="btn btn-start">Start Position</button>
        <button class="btn btn-clear">Clear Board</button>
        <button class="btn btn-move">Find Move</button>
    </div>
</div>
{% endblock content %}