h1 {
    font-size: 5rem;
    letter-spacing: .5rem;
}

p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.info-text {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    color: red;
    visibility: hidden;
}